<header
  class="flex h-[60px] w-full items-center justify-between border-b px-4 bg-secondary/10"
>
  <div class="justify-center items-center hidden md:flex">
    <div
      class="flex justify-center items-center border-l-2 border-t-2 border-b-2 border-[#A1A9B8]/40 rounded-tl-lg rounded-bl-lg p-2 w-[148px] bg-white gap-2"
    >
      <svg-icon name="filter-solid" svgClass="w-4 h-4" />
      <h6 class="text-sm text-[#464F60] font-medium">Customers</h6>
      <svg-icon
        name="chevron-down"
        svgClass="w-5 h-5 custom-chevron"
        [ngStyle]="{ fill: 'red' }"
      ></svg-icon>
    </div>
    <div
      class="flex justify-between items-center p-2 w-[280px] border-2 border-[#A1A9B8]/40 bg-white rounded-tr-lg rounded-br-lg"
    >
      <div class="flex justify-start items-center w-full gap-2 pl-2">
        <svg-icon name="search" svgClass="w-4 h-4" />
        <input
          class="text-sm text-[#A1A9B8] font-normal focus:outline-none"
          type="text"
          placeholder="Search in customers"
        />
      </div>
      <div
        class="w-5 h-5 rounded text-textBlack flex justify-center items-center bg-secondary/10"
      >
        <span class="mb-1 font-bold">/</span>
      </div>
    </div>
  </div>
  <div class="flex justify-end items-center pr-4 gap-2 w-full">
    <div class="flex justify-center items-center gap-1">
      <img src="/assets/images/flags/unitedState.png" alt="flag" />
      <p class="text-lg text-[#464F60] font-medium">3bytelabs</p>
      <svg-icon name="chevron-down" svgClass="w-6 h-6 mt-1 custom-chevron" />
    </div>
    <div class="flex justify-center items-center gap-3">
      <div
        class="border-textBlack/50 rounded-md w-10 h-10 flex justify-center items-center"
      >
        <svg-icon name="setting" svgClass="w-6 h-6 text-darkGray" />
      </div>
      <div
        class="border-textBlack/50 rounded-md w-10 h-10 flex justify-center items-center"
      >
        <svg-icon name="notification" svgClass="w-6 h-6 text-darkGray" />
      </div>
      <div
        class="bg-gray-400 rounded-lg w-10 h-10 flex justify-center items-center"
      ></div>
    </div>
  </div>
</header>
